/* Set default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #E9E7E9;
  height:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:17px;
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}


/* Clear Floats */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}



#container {
  background-color:white;
  position:relative;
  width:92%;
  margin: 0 auto;
  height:87%;
  top:50%;
  transform: translateY(-50%);
  -webkit-box-shadow:0px 0px 13px #888888;
  -moz-box-shadow:0px 0px 13px #888888;
  box-shadow:0px 0px 13px #888888;
}


.inheritHeight {
  height:100%;
}


/* Container Top Section */

.top-wrapper {
  width:100%;
  height:80px;
  background-color: #F6F5F7;
  border-bottom: 1px solid #EBE9EB;
}

.searchBar-wrapper {
  display:table-cell;
  margin-left:10px;
  height:inherit;
  width: inherit;
  vertical-align: middle;
  position:relative;
  left:25px;
}

#searchBar {
  border:none;
  background-color:white;
  padding:2px 0 2px 10px;
  height:30px;
  width:250px;
  border: 1px solid #EBE9EB;
  border-radius: 5px;
  font-size:17px;
}

/* Container Bottom Section */


.bottom-wrapper {
  height:calc(100% - 80px);
}

.title-wrappers {
  display: inline-block;
  float: left;
  width:348px;
  height:100%;
  overflow-y: hidden;
}

.title-wrappers:hover {
  overflow-y: scroll;
}

li.title {
  margin-top:-1px;
  padding:15px;
  border: 1px solid #EBE9EB;
}

li.title:hover {
  background-color: #F6F5F7;
  cursor: pointer;
}


.main-content {
  display: inline-block;
  float:left;
  overflow-y: hidden;
  height:100%;
  width: calc(100% - 348px);
}

.main-content:hover {
  overflow-y: scroll;
}

.no-reports {
  margin-top:15px;
  text-align: center;
  font-size:35px;
}

.main-content-wrapper {
  width:95%;
  margin: 15px auto 0 auto;
}


.main-content-wrapper h1 {
  font-size:35px;
  margin-bottom:10px;
}





 


